.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #0B6AFF;
    /* color: #fff; */
    height: 52px;
    font-size: 15px;
    letter-spacing: 0.05rem;
  }
  
  .logo {
    margin-left: 16px;
    float: left;
  }
  
  .datasearch {
    margin-left: auto;
    margin-right: auto;
    color: #424242;
  }
  
  .datasearch .searchbox {
    min-width: 400px;
    border-radius: 30px;
    padding: 5px 16px 5px 30px;
    color: #424242;
  }
  
  .suggestionlist {
    background-color: gray;
    width: 90%;
    margin-left: 5%;
  }
  
  .display {
    display: flex;
    margin-top: 60px;
    background-color: gray;
  }
  
  .leftSidebar {
    width: 320px;
    height: 100%;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    right: 0;
    border-right: 1px solid #f0f0f0;
    background-color: gray;
  }
  
  .mainBar {
    width: calc(100% - 320px);
    position: relative;
    left: 320px;
    padding: 0px 30px;
    /* background-color: #fefefe; */
  }
  
  .result-data .result-image {
    background-size: cover;
    max-height: 200px;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .card-content {
    /* padding: 10px; */
    width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0.7;
  }
  
  .card-image {
    width: 200px;
    height: 150px;
    overflow: hidden;
  }
  /* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  } */
  .card-list li {
    margin-bottom: 5px;
  }
  .card-list li span {
    font-weight: bold;
  }
  .card-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .card-image img {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; */
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex: 0.3;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; /* adjust the gap as per your need */
  }  
  .card-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .cal_btn{
    float:right;
  }
  .cont
  {
    padding:10px
  }
  body {
    background-color: rgb(220, 218, 218);
  }
  label {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #0066ff;
    border-color: #0066ff;
  }
  
  input[type="checkbox"]:focus {
    outline: none;
    border-color: #0066ff;
  }
  label span {
    margin-left: 5px;
  }
  label {
    margin-right: 20px;
  }  
   
  label:nth-child(3) {
    margin-right: 20px;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    background-color: #fff;
    cursor: pointer;
    margin-right :20px;
  }
  
  select:focus {
    outline: none;
    border-color: #0066ff;
  }
  
  option {
    font-weight: normal;
    color: #555;
  }
  
  option:first-child {
    color: #ccc;
  }

  