.productName {
    margin: 10px;
    /* border: 2px solid black; */
    /* padding-left: 200px; */
    text-align: center;
    padding-top: 20px;
    /* font-size: 100px; */
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.image {
    width: 700px;
    height: 500px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 0.2px black;

}

/* .desc {
    text-align: left;
    padding: 20px;
    position: absolute;
    top: 200px;
    width: 500px;
} */

/* .ship {
    text-align: left;
    padding: 20px;
    /* position: absolute;
    top: 300px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 500px;
} */

.classify {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.details {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 650px;
    text-align: left;
}

.links {
    text-decoration: none;
    color: rgb(13, 176, 213);
}

.button {
    border-radius: 15px;
    width: 250px;
    text-align: center;
    padding: 5px;


}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
}
.btn{
    display: block;
    /* margin: 100px 100px; */
}